<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Pagina web espectacular</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quos
      nam voluptates exercitationem explicabo esse molestias minima vero fugiat
      commodi tenetur reiciendis autem natus eos ipsam. Ratione sunt eaque
      necessitatibus!
    </p>
  </body>
</html>
