<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Pagina web espectacular</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quos
      nam voluptates exercitationem explicabo esse molestias minima vero fugiat
      commodi tenetur reiciendis autem natus eos ipsam. Ratione sunt eaque
      necessitatibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sapiente
      molestias illum odio. Dolore aperiam corporis tempora modi ducimus eos
      autem nihil reprehenderit, est quod, fugit ex totam ut eveniet!
      Dignissimos consequuntur incidunt, corrupti consectetur tempora iste vero
      quo cumque, eius reprehenderit ut nulla quasi inventore repellendus!
      Officiis reprehenderit maxime eligendi cupiditate nostrum repellendus
      commodi est quia corporis, odio sapiente. Quos non nam voluptas similique
      deleniti alias voluptatibus velit aliquam molestiae enim quo pariatur hic
      mollitia quae, repellendus incidunt excepturi debitis harum dolorem nihil
      optio ducimus, illo voluptates. Quis, laudantium? Ullam quas explicabo
      deleniti quisquam doloremque voluptatem nihil tenetur placeat sapiente
      vitae nostrum aliquam dolor aliquid voluptatum et iste, perferendis
      ducimus. Praesentium repellendus ipsum qui modi nostrum tempora.
      Dignissimos, quasi. Quia similique minima dicta iste ipsum alias nisi
      voluptate atque aliquam? Ducimus aperiam debitis officiis voluptate totam
      numquam voluptatibus ipsum. Iusto esse facilis odio ipsam accusantium.
      Consequatur ducimus ab soluta.
    </p>
  </body>
</html>
